<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <a class="navbar-brand" href="#">
      <img src="Assets/logo.png" width="60" height="76" class="d-inline-block align-top" alt="logo" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html"><i class="fas fa-house-user"></i> About Me <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html"><i class="fas fa-id-card"></i> Contact </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="projects.html"><i class="fas fa-tasks"></i> Projects </a>
        </li>
      </ul>
    </div>
  </nav>